.comments {
  width: 560px;
  margin: 0 auto;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
    width: 564px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 70px;
    width: 70.62%;
  }
}

.comments h2 {
  margin: 0;
  text-align: center;
  font-size: 49px;
  line-height: 49px;
  margin-bottom: 52px;
  text-transform: uppercase;
  font-family: $font-bebas-neue;
  letter-spacing: 0.03em;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 39px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 42px;
  }
}

.comments__wrapper {
  position: relative;
  box-shadow: 0 0 40px $color-comments-box-shadow;
}

.comments__swiper {
  background-color: $color-resolution-blue;
}

.comments__item {
  display: flex;
  margin: 0;
  padding: 62px 62px 10px;
  color: $color-default-white;
  min-height: 242px;

  @media (min-width: $tablet-resize) and (max-width: $desktop-max) {
    padding-bottom: 60px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 64px;
    padding-right: 63px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    padding: 40px 23px 0;
    min-height: 335px;
  }

  @media (min-width: $mobile-resize) and (max-width: $tablet-width) {
    padding-bottom: 35px;
  }
}

.comments__img-container {
  align-self: flex-start;
  margin-right: 28px;
  width: 80px;
  flex-shrink: 0;

  @media (max-width: $mobile-width) {
    float: left;
    width: 68px;
    margin-right: 15px;
    margin-left: 18px;
  }
}

.comments__author-name {
  font-size: 20px;
  line-height: 14px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 21px;
  display: block;

  @media (max-width: $mobile-width) {
    line-height: 27px;
    padding-top: 7px;
  }
}

.comments__author-contain p {
  margin: 0;
  line-height: 22px;

  @media (max-width: $mobile-width) {
    text-align: center;
    line-height: 22.6px;
  }
}

.comments__button-prev {
  @media (max-width: $tablet-width) {
    left: -63px;
  }

  @media (max-width: $mobile-width) {
    left: -32px;
  }
}

.comments__button-next {
  @media (max-width: $tablet-width) {
    right: -63px;
  }

  @media (max-width: $mobile-width) {
    right: -32px;
  }
}
