.header {
  background: $header-gradient-desktop;
  padding-top: 30px;
  padding-bottom: 46px;

  @media (max-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 76px;
    background: $header-gradient-tablet;
  }

  @media (max-width: $mobile-width) {
    padding-top: 20px;
    padding-bottom: 80px;
    background: $header-gradient-mobile;
  }
}

.header__logo-phone-container {
  display: flex;
  justify-content: space-between;
  line-height: 0;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 71px;
  }
}

.header__logo {
  @media (max-width: $tablet-width) {
    width: 80px;
    height: 18px;
  }

  @media (max-width: $mobile-width) {
    width: 68px;
    height: 15px;
  }
}

.header__phone {
  text-decoration: none;
  color: $color-default-white;
  font-size: 26px;
  line-height: 22px;
  letter-spacing: -0.5px;
  font-family: $font-bebas-neue;
  margin-right: 3px;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0;
    margin-top: -2px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.4px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__preface-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 16px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    justify-content: center;
  }
}

.header__services-text-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: 62px;
  max-width: 383px;

  @media (max-width: $tablet-width) {
    margin-right: 23px;
    max-width: 330px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
    max-width: none;
    justify-content: center;
    flex-grow: 1;
  }
}

.header__list-services {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 304px;
  color: $color-default-white;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  margin-left: 4px;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    padding-top: 186px;
    margin-right: -50px;
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    padding-top: 124px;
    margin-right: -86px;
  }
}

.header__text-container {
  display: flex;
  flex-direction: column;
  padding-top: 111px;
  margin-bottom: 56px;
  margin-left: -35px;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
    margin-bottom: 41px;
  }
}

.header__text-container p {
  margin: 0;
  font-family: $font-bebas-neue;
  text-align: right;
  color: $color-default-white;
  text-transform: uppercase;
  font-size: 111px;
  line-height: 109px;
  font-weight: 700;
  width: 298px;
  letter-spacing: 2.5px;

  @media (max-width: $tablet-width) {
    font-size: 87px;
    line-height: 86px;
    letter-spacing: 2.7px;
  }

  @media (max-width: $mobile-width) {
    font-size: 82px;
    line-height: 78px;
    letter-spacing: 0.8px;
  }
}

.header__city-name {
  display: block;
  font-size: 49px;
  line-height: 59px;
  font-weight: 400;
  margin-bottom: 7px;
  letter-spacing: 0.9px;
  margin-right: 1px;

  @media (max-width: $tablet-width) {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 2px;
  }

  @media (max-width: $mobile-width) {
    font-size: 27px;
    line-height: 34px;
    margin-bottom: 10px;
  }
}

.header__buy-button {
  color: $color-default-white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  border: 4px solid $color-default-white;
  align-self: flex-start;
  margin-left: auto;
  min-width: 236px;
  min-height: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.6px;

  @media (max-width: $tablet-width) {
    padding: 20px;
    min-width: 186px;
    min-height: 60px;
    margin-right: 4px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__img-container {
  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    width: 43%;
  }

  @media (max-width: $tablet-width) {
    width: 49%;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__list-social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
  font-size: 12px;
  line-height: 14px;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-bottom: 47px;
  justify-content: center;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__list-social-item {
  &--instagram {
    align-self: flex-end;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}

.header__list-social-item:not(:last-child) {
  margin-bottom: 19px;
}

.header__list-social-link {
  color: $color-default-white;
  text-decoration: none;
  text-transform: uppercase;
}
