.event {
  display: flex;
  color: $color-default-white;
  margin-bottom: 120px;

  @media (max-width: $tablet-width) {
    margin-bottom: 100px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    margin-bottom: 70px;
  }

  &::after {
    content: "";
    width: 56.9%;
    background: $color-resolution-blue url("../img/background/supergames-background-desktop.png") no-repeat center;
    background-size: cover;

    @media (max-width: $tablet-width) {
      background-image: url("../img/background/supergames-background-tablet.png");
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/background/supergames-background-mobile.png");
      width: 100%;
      min-height: 292px;
    }
  }
}

.event__about-container {
  width: 43.1%;
  min-height: 500px;
  background-color: $color-torch-red;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content) 1fr;
  padding: 87px 20px;
  justify-content: center;

  @media (max-width: $tablet-width) {
    min-height: 292px;
    padding: 51px 20px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    grid-template-columns: 56% 22.4%;
  }
}

.event__about-container h2 {
  margin: 0;
  margin-right: 50px;
  margin-bottom: 20px;
  font-family: $font-bebas-neue;
  font-size: 90px;
  line-height: 90px;

  @media (max-width: $tablet-width) {
    margin-right: 25px;
    margin-bottom: 10px;
    font-size: 52px;
    line-height: 52px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 25px;
    margin-bottom: 10px;
  }
}

.event__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.event__list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 6px;
    margin-right: 20px;
  }
}

.event__list-term {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 7px;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 3px;
  }
}

.event__list-detail {
  display: flex;
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  padding-top: 5px;
  border-top: 1px solid $color-default-white;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 27px;
    padding-top: 2px;
  }
}

.event__list-detail-reduce-text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 40px;
  margin-left: 5px;

  @media (max-width: $tablet-width) {
    font-size: 10px;
    line-height: 13px;
    width: 30px;
  }
}

.event__about-container p {
  grid-area: 2 / 1 / 3 / -1;
  margin: 0;
  font-size: 18px;
  line-height: 27px;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 18px;
  }
}

.event__button {
  align-self: end;
  justify-self: center;
  grid-area: 3 / 1 / -1 / -1;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-default-white;
  font-weight: 700;
  border: 4px solid $color-default-white;
  width: 100%;
  min-height: 67px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width) {
    border-width: 2px;
    font-size: 10px;
    line-height: 12px;
    min-height: 39px;
  }
}
