.tickets {
  background:
    url("../img/background/weights-desktop.png") no-repeat calc(50% + 631px) 106%,
    linear-gradient($color-ghost-white 87.64%, $color-default-white 87.64%);
  padding: 118px 0 240px 0;
  background-size: 466px;

  @media (min-resolution: 2dppx) and (min-width: $desktop-only) {
    background-image:
      url("../img/background/weights-desktop@2x.png"),
      linear-gradient($color-ghost-white 87.64%, $color-default-white 87.64%);
  }

  @media (max-width: $tablet-width) {
    padding: 99px 0 200px 0;
    background-image:
      url("../img/background/weights-tablet.png"),
      linear-gradient($color-ghost-white 94.67%, $color-default-white 94.67%);
    background-position: right 101.6%;
    background-size: 347px;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../img/background/weights-tablet@2x.png"),
        linear-gradient($color-ghost-white 94.67%, $color-default-white 94.67%);
    }
  }

  @media (max-width: $mobile-width) {
    padding: 69px 0 140px 0;
    background: linear-gradient($color-ghost-white 95.5%, $color-default-white 95.5%);
  }
}

.tickets h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: $font-bebas-neue;
  font-size: 49px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 18px;
  letter-spacing: 1.4px;

  @media (max-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 13px;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 5px;
    letter-spacing: 1.1px;
  }
}
