.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.wrapper {
  width: 1160px;
  margin: 0 auto;

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    max-width: 1160px;
    width: 95%;
  }

  @media (max-width: $tablet-width) {
    width: 88.28%;
  }

  @media (max-width: $mobile-width) {
    width: 90.62%;
  }
}
